/* You can add global styles to this file, and also import other style files */
html {
    --bg-main: #e73c37;
    --bg-secondary: #312c38;
    --text-main: #ffff;
    --text-secondary: #bfb0a0;

    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: scroll;

    // cursor: none;
    background-color: var(--text-main);
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}