* {
    margin: 0;
    padding: 0;
}

#container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    margin: 0;
    padding: 0;
    // margin-top: 70px;
}

.quotes {
    height: 90vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;

    font-family: 'Montserrat';
    text-align: center;
    align-items: center;
    color: var(--text-main);
    background-color: rgba(49, 44, 56, .8);
    background-image: url(../../../assets/snow-mountain.jpg);
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-position: center center;
    background-size: cover;

    >p {
        width: 200px;
        text-align: center;
        margin-top: 20px;

        font-size: 1.4rem;
        text-wrap: wrap;
    }

    #scroll-indicator {
        font-size: 2.5rem;
        opacity: 1;
        transform: translateY(0px);
        transition: all .3s;
    }
    #scroll-indicator:hover {
        cursor: pointer;
        transform: translateY(10px);
        transition: all .3s;
    }
    #scroll-indicator.fade {
        opacity: 0;
        transition: all .3s;
    }
}

.about-overview {
    height: 100vh;
    width: 100vw;
    padding-top: 150px;
    padding-bottom: 150px;
    overflow: hidden;

    font-family: 'Montserrat';
    background-color: var(--text-main);
    
    &__title {
        padding: 0 20px;

        >h1 {
            padding-bottom: 10px;
            text-transform: uppercase;

            color: var(--bg-secondary);
            font-size: 1.2rem;
        }

        >h2 {
            text-transform: capitalize;
            text-wrap: balance;
            color: var(--bg-main);
            font-size: 2.2rem;
        }
    }

    >hr {
        width: 40px;
        margin: 20px 0;
        margin-left: 30px;

        color: var(--bg-main);
    }

    &__content {
        margin: 0;
        padding: 0;
        padding: 0 30px;

        color: var(--bg-secondary);

        >p {
            text-wrap: wrap;
            text-align: justify;
            margin: 0;
            padding: 0;
        }
    }
}

.services {
    width: calc(100vw - 20px);
    // height: 100vh;
    padding-top: 100px;
    padding-bottom: 100px;

    border-radius: 10px;
    font-family: 'Montserrat';
    scroll-behavior: smooth;
    color: var(--text-main);
    background-color: var(--bg-secondary);

    &__title {
        margin-bottom: 20px;
        padding: 0 10px;
        text-align: center;
        align-items: center;

        text-transform: uppercase;
        // -webkit-text-stroke: 1px var(--text-main);
        font-size: 1.2rem;
        font-weight: 700;
        color: var(--bg-main);
    }

    >hr {
        width: 40px;
        margin: 20px auto;

        color: var(--bg-main);
    }

    &__content {
        padding: 0 20px;
        text-align: justify;
    }
}

#to-top {
    position: fixed;
    height: 50px;
    width: 50px;
    right: 6%;
    bottom: 3%;

    opacity: 1;
    border-radius: 50%;
    text-decoration: none;
    color: var(--text-main);
    background-color: var(--bg-main);
    border: none;
    z-index: 99;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.22);
    transition: all .3s;
}

#to-top.fade {
    opacity: 0;
    transition: all .3s;
}






@media only screen and (min-width: 300px) {
    .quotes {
        padding-top: 95px;
        padding-bottom: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        overflow-x: hidden;

        >p {
            padding-top: 0px;
        }

        #scroll-indicator {
            position: relative;
            margin-top: 120px;

            opacity: 1;
            transform: translateY(0px);
            transition: all .3s;
        }
    }
}

//For tablets
@media only screen and (min-width: 600px) {
    .quotes {
        // padding-top: 0px;
        // padding-bottom: 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        #scroll-indicator {
            top: 10vh;

            opacity: 1;
            transform: translateY(0px);
            transition: all .3s;
        }
    }
}

//For 720p Screens (1280x720)
@media only screen and (min-width: 1280px) {
    #to-top {
        right: 3%;
    }

    .quotes {
        >p {
            width: 500px;
            align-self: center;

            font-size: 1.8rem;
        }
        
        #scroll-indicator {
            top: 15vh;

            font-size: 3rem;
            opacity: 1;
            transform: translateY(0px);
            transition: all .3s;
        }
    }

    #up-arrow {
        transition: all .3s;
    }

    #to-top:hover {
        cursor: pointer;
        margin-bottom: 13px;

        // transition-delay: all .7s;
        transition: all .3s;

        #up-arrow {
            margin-bottom: 15px;
    
            transition: all .3s;
        }
    }

    .about-overview {
        padding-top: 110px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 10px 250px 250px;
        gap: 1rem;

        &__title {
            padding-left: 50px;
            
            >h1 {
                text-align: left;

                font-size: 1.5rem;
            }
            >h2 {
                text-align: left;
                font-size: 3rem;
            }
        }

        >hr {
            height: 2px;
            width: 60px;
            background-color: var(--bg-main);
            margin: 0;
        }
    
        &__content {
            width: 600px;
            padding: 0 0;

            font-size: 1.2rem;
        }
    }

    .grid-col-span-2 {
        grid-column-start: 2;
        grid-row-start: 2;
        grid-row: span 2;
    }
    .grid-row-span-2 {
        grid-row-start: 2;
    }

    .services {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 10px 250px 250px;
        gap: 1rem;

        >hr {
            height: 2px;
            width: 60px;
            background-color: var(--bg-main);
            margin: 0;
        }

        &__title {
            padding-left: 40px;
            text-align: left;
            align-self: left;

            font-size: 2rem;
        }
    
        &__content {
            padding: 0 0px;
            width: 600px;
            font-size: 1.2rem;
        }
    }
}

//For 1080p Screens (1920x1080)
@media only screen and (min-width: 1920px) {
    #to-top {
        right: 2%;
    }
}