* {
    margin: 0;
    padding: 0;
}

#to-top {
    position: fixed;
    height: 60px;
    width: 60px;
    right: 6%;
    bottom: 3%;

    opacity: 1;
    border-radius: 50%;
    text-decoration: none;
    color: var(--text-main);
    background-color: var(--bg-main);
    border: none;
    // border: 1px solid var(--text-main);
    z-index: 99;
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.3);
    transition: all .3s;

    #up-arrow {
        transform: translateY(0px);
        transition: .3s;
    }
}

#to-top:hover {
    cursor: pointer;

    #up-arrow {
        transform: translateY(-5px);
        transition: .3s;
    }
}

#to-top.fade {
    opacity: 0;
    transition: all .3s;
}

.grid-1col {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 200px;
    grid-gap: 1rem;
}

.item-title {
    width: 300px;
    margin-top: 20px;

    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--bg-secondary);
}

.hero {
    position: relative;
    height: 100%;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 3;

    color: var(--bg-secondary);

    &__title {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        z-index: 2;
        background-image: linear-gradient(to bottom, rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255, 0));


        >h1 {
            margin-top: 100px;
    
            font-family: 'Montserrat', sans-serif;
            font-size: 3rem;
            font-weight: 600;
            color: var(--bg-secondary);
            text-transform: uppercase;
            text-align: center;
        }
        >button {
            height: 50px;
            width: fit-content;
            align-self: center;
            padding: 0 20px;
            margin-top: 30px;
    
            font-family: 'Montserrat', sans-serif;
            font-size: 1.2rem;
            font-weight: 500;
            color: var(--text-main);
            border: none;
            border-radius: 10px;
            background-color: var(--bg-main);
        }
    }

    .size-large {
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 1;

        background-image: url("../../../assets/RE50CFL_1920x1080.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
}

.about-overview {
    width: 100vw;
    padding-top: 100px;
    padding-bottom: 100px;
    overflow: hidden;

    font-family: 'Montserrat', sans-serif;
    background-color: var(--text-main);
    
    &__title {
        padding: 0 20px;

        >h1 {
            font-family: 'Montserrat', sans-serif;
            padding-bottom: 10px;
            text-transform: uppercase;

            color: var(--bg-secondary);
            font-size: 1.2rem;
        }

        >h2 {
            font-family: 'Montserrat', sans-serif;
            text-transform: capitalize;
            text-wrap: balance;
            color: var(--bg-main);
            font-size: 2.2rem;
        }
    }

    >hr {
        height: 2px;
        width: 40px;
        margin: 20px 0;
        margin-left: 20px;

        border: none;
        background-color: var(--bg-main);
        color: var(--bg-main);
    }

    &__content {
        margin: 0;
        padding: 0 20px;

        color: var(--bg-secondary);

        >p {
            text-wrap: wrap;
            text-align: justify;
            margin: 0;
            padding: 0;
        }
    }
}

.section-break {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .round-break {
        height: 15px;
        width: 15px;
        margin: 0 10px;

        border: none;
        border-radius: 50%;
        background-color: var(--text-secondary); 
    }

    >hr {
        height: 2px;
        width: 20%;
        border: none;

        background-color: var(--text-secondary); 
    }
}

.services {
    height: fit-content;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 70px;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: 'Montserrat', sans-serif;
    background-color: var(--text-main);

    .pc-service {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__title {
        margin: 0 20px;
        margin-bottom: 50px;

        >p {
            margin-bottom: 10px;

            font-family: 'Montserrat', sans-serif;
            font-size: 1.7rem;
            font-weight: 500;
            color: var(--bg-secondary);
        }

        >h1 {
            font-family: 'Montserrat', sans-serif;
            color: var(--bg-main);
        }

        >hr {
            height: 2px;
            width: 40px;
            margin: 20px 0;
    
            border: none;
            background-color: var(--bg-main);
            color: var(--bg-main);
        }
    }

    .accordion {
        width: 90%;

        list-style: none;
    }

    .accordion li {
        width: 100%;
        margin: 10px 0;

        color: var(--bg-secondary);
        background-color: var(--text-main);
        border: none;
    }

    .accordion li label {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0 20px;
        margin-top: 15px;
        cursor: pointer;

        font-family: 'Montserrat', sans-serif;
        font-size: 1.3rem;
        font-weight: 600;
    }

    .accordion li .accordion-content {        
        margin: 0px 20px;
        margin-left: 40px;

        font-family: 'Montserrat', sans-serif;
        font-size: 1rem;
        font-weight: 500;
    }

    .accordion label + input[type="radio"] {
        display: none;
    }

    .accordion .accordion-content {
        max-height: 0;
        padding: 5px;
        line-height: 30px;
        overflow: hidden;
        transition: max-height .7s;
    }

    .accordion label + input[type="radio"]:checked + .accordion-content{
        max-height: 650px;
        transition: max-height .7s;
    }

    .accordion hr {
        height: 2px;

        border: none;
        background-color: var(--bg-main);
    }
}

.learn-more-btn {
    height: 50px;
    padding: 20px;
    display: flex;
    align-items: center;
    margin: auto;
    margin-top: 30px;
    cursor: pointer;

    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    border-radius: 10px;
    border: 1px solid var(--bg-main);
    background-color: var(--text-main);
    color: var(--bg-main);
    // border: none;
}







//Tablets
@media only screen and (min-width: 600px) {

    #to-top {
        height: 55px;
        width: 55px;
        right: 3%;

        #up-arrow {
            font-size: 1.2rem;
        }
    }

    .hero {
        &__title {
            >h1 {
                margin-top: 150px;
            }
        }
    }

    .services {
        &__title {
            align-self: flex-start;
        }

        .accordion {
            width: 95%;
        }
    }
}

//PC
@media only screen and (min-width: 1280px) {
    .hero {
        height: 100%;

        &__title {
            padding-top: 80px;
            
            >button {
                margin-top: 40px;
            }
            >h1 {
                // width: 100%;
                padding: 0 150px;

                font-size: 3.5rem;
            }
        }
        .wrapper {
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
        }
    }

    .about-overview {
        padding-top: 150px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 10px 250px;
        gap: 1rem;

        &__title {
            padding-left: 50px;
            
            >h1 {
                text-align: left;

                font-size: 1.5rem;
            }
            >h2 {
                text-align: left;
                font-size: 3rem;
            }
        }

        >hr {
            height: 2px;
            width: 100px;
            background-color: var(--bg-main);
            margin: 0;
            grid-column-start: 2;
        }
    
        &__content {
            width: 600px;
            padding: 0 0;

            font-size: 1.2rem;
        }
    }
    .grid-col-span-2 {
        grid-column-start: 2;
        grid-row-start: 2;
        grid-row: span 2;
    }
    .grid-row-span-2 {
        grid-row-start: 2;
    }

    .section-break {
        .round-break {
            display: none;
        }

        #hr1 {
            display: none;
        }

        >hr {
            height: 1px;
            width: 100%;

            // background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 60%, rgba(255,255,255,1) 100%);
            // box-shadow: 0px 15px 20px px rgba(0, 0, 0, .7);
        }
    }

    .services {
        display: flex;
        flex-direction: row;
        padding-top: 200px;
        padding-bottom: 0px;

        .pc-service-img {
            height: 800px;
            width: 1200px;

            border-top-right-radius: 15px;
            background-image: url('../../../assets/Liam_Wong_Tokyo_Nights_Phone_Wallpapers_Cyberpunk_Blade_Runner_TOKYOO_TO_KY_OO_Japan_BookMinutes+To+Midnight.jpg');
            background-repeat: no-repeat;
            background-size: cover;
        }

        .pc-service {
            // align-self: flex-end;
        }

        &__title {
            margin: 0 30px;
            margin-bottom: 50px;
            
            >p {
                font-size: 2rem;
            }

            >h1 {
                font-size: 2.5rem;
            }
        }   

        .accordion li label {
            font-size: 1.5rem;
        }

        .accordion li .accordion-content {
            font-size: 1.2rem;
        }
    }

    .fa-angle-right {
        transition: .3s;
    }

    .learn-more-btn {
        cursor: pointer;
        margin: 0px auto;
        margin-top: 50px;
        transform: translateX(0px) translateY(0px);
        transition: .3s;
    }

    .learn-more-btn:hover {
        box-shadow: 5px 5px 15px 0px rgb(255, 255, 255, .5);
        transform: translateX(-5px) translateY(-5px);
        transition: .3s;
    }
}

@media only screen and (min-width: 1920px) {
    .hero {
        &__title {
            >button {
                cursor: pointer;
            }
            >button span i {
                transform: translateX(0px);
                transition: .4s;
            }

            >button:hover span i {
                transform: translateX(5px);
                transition: .4s;
            }
        }
    }

    .services {
        .pc-service-img {
            width: 1500px;
        }
    }
}