<app-topnav [scroll_pos]="scroll_pos"></app-topnav>

<div class="hero grid-1col">
    <div class="hero__title">        
        <h1>Văn phòng thừa phát lại quận 6</h1>
        <p>Đưa ra sự lựa chọn tốt nhất cho bạn và gia đình với những luật sư đáng tin cậy và giàu kinh nghiệm</p>
        <button [routerLink]="['/contact']">Liên hệ ngay  <span><i class="fa-solid fa-angle-right arrow-right"></i></span></button>
    </div>
    <div class="wrapper size-large"></div>    
</div>

<div class="services">

    <div class="services__title">
        <p>Dịch vụ</p>
        <h1>Luôn hướng đến chất lượng cao nhất</h1>
        <hr>
    </div>

    <div class="services__content">
        <div class="service_card" *ngFor="let service of services">
            <img src={{service.imgURL}}>
            <h1 id="content_title">{{service.name}}</h1>
        </div>
    </div>
    
    <button class="learn-more-btn" [routerLink]="['/services']">Tìm hiểu thêm</button>
</div>

<div class="about-overview">
    <div class="about-overview__title grid-row-span-2">
        <h1>Về chúng tôi</h1>
        <h2>Văn Phòng thừa</h2>
        <h2>phát lại quận 6</h2>
    </div>

    <hr>

    <div class="about-overview__content grid-col-span-2">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac neque sed sapien viverra consectetur. Phasellus tincidunt justo erat, eu condimentum lorem rutrum at. Nam tincidunt quis lectus vel laoreet. Sed nec pellentesque nulla, aliquam pellentesque elit. Sed vel sodales justo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac neque sed sapien viverra consectetur. Phasellus tincidunt justo erat, eu condimentum lorem rutrum at. Nam tincidunt quis lectus vel laoreet. Sed nec pellentesque nulla, aliquam pellentesque elit. Sed vel sodales justo.
        </p>
    </div>
</div>


<div class="news">

</div>

<div class="faq">
    
</div>

<footer class="footer">
    <div class="footer__icon">
        <!-- <img> -->
        a
    </div>

    <p>văn phòng Thừa phát lại Quận 6</p>
    <div class="footer__nav">
        <a href="/home">Trang chủ</a>
        <a href="/services">Dịch vụ</a>
        <a href="/news">Tin tức</a>
        <a href="/faq">Hỏi đáp</a>
        <a href="/contact">Liên hệ</a>
    </div>

    <div class="footer__info">
        <h1>Email:</h1>
        <input [(ngModel)]="user_email" type="text" placeholder="Nhập email">
        <h1>Tên:</h1>
        <input [(ngModel)]="user_name" type="text" placeholder="Nhập tên">
        <h1>Vấn đề cần liên lạc:</h1>
        <textarea [(ngModel)]="user_prob" type="textare" placeholder="Nhập vấn đề cần liên lạc" rows="4" cols="50"></textarea>
    </div>
</footer>

<button (click)="BackToTop()" id="to-top"><i id="up-arrow" class="fa-solid fa-chevron-up fa-xl"></i></button>
