<app-topnav [scroll_pos]="scroll_pos"></app-topnav>


<div class="hero grid-1col">
    <h1>Văn phòng thừa phát lại quận 6</h1>
    <!-- <p></p> -->
    <button [routerLink]="['/contact']">Liên hệ ngay  <span><i class="fa-solid fa-angle-right arrow-right"></i></span></button>
</div>

<div class="about-overview">
    <div></div>
    <div class="about-overview__title grid-row-span-2">
        <h1>Về chúng tôi</h1>
        <h2>Văn Phòng thừa</h2>
        <h2>phát lại quận 6</h2>
    </div>

    <hr>

    <div class="about-overview__content grid-col-span-2">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac neque sed sapien viverra consectetur. Phasellus tincidunt justo erat, eu condimentum lorem rutrum at. Nam tincidunt quis lectus vel laoreet. Sed nec pellentesque nulla, aliquam pellentesque elit. Sed vel sodales justo. Quisque urna neque, fringilla ac est nec, accumsan ultrices velit. Aenean porttitor lorem metus, nec congue magna volutpat sed. Donec nulla lorem, cursus nec mauris nec, varius vulputate nisl. Nulla accumsan aliquam posuere. Cras luctus sem ac lectus ornare convallis. Nunc iaculis leo justo, et lacinia dui ultricies quis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in orci mauris. Curabitur eget consectetur orci, id efficitur elit. Cras eleifend dolor vitae magna blandit ultrices. Nam in fringilla massa. </p>
    </div>
</div>

<div class="services">
    <h1>Dịch vụ</h1>
    <div class="services__details">
        <div class="vibang details-div">
            <img src="https://drive.google.com/uc?export=view&id=1omF1qsHhzpxrTFEv-QHl7vO864U5uzca" alt="vibang">
            <p class="item-title">Lập Vi Bằng</p>
        </div>

        <div class="tongdat details-div">
            <img src="https://drive.google.com/uc?export=view&id=1Zw7rpu0G4oKaLL7JfP4Bsdr7pnKaDUev" alt="tongdat">
            <p class="item-title">Tống đạt văn bản</p>
        </div>

        <div class="dkthihanh details-div">
            <img src="https://drive.google.com/uc?export=view&id=1rxL18xlVBuS3uDqdeWTtjLhsDAXS69Sl" alt="dkthihanh">
            <p class="item-title">Xác minh điều kiện Thi hành án</p>
        </div>

        <div class="thihanh details-div">
            <img src="https://drive.google.com/uc?export=view&id=12uv4qB_mTmS8GFSbEfMv-IPDm1ZbAHej" alt="thihanh">
            <p class="item-title">Thi hành án</p>
        </div>
    </div>
    <button class="learn-more-btn" [routerLink]="['/services']">Tìm hiểu thêm</button>
</div>

<div class="news">

</div>

<div class="faq">
    
</div>

<button (click)="BackToTop()" id="to-top"><i id="up-arrow" class="fa-solid fa-chevron-up fa-xl"></i></button>
