<app-topnav [scroll_pos]="scroll_pos"></app-topnav>

<div class="hero">
    <h1>Dịch vụ</h1>
    <p id="title">Văn phòng Thừa phát lại Quận 6 cung cấp những dịch vụ Thừa phát lại tốt nhất</p>
    <button [routerLink]="['/contact']">Liên hệ ngay  <span><i class="fa-solid fa-angle-right arrow-right"></i></span></button>
    <div class="hero-img">a</div>
</div>

<div class="services-selectors">
    <ul class="services-list">
        <li class="cells">
            <div class="cell-icon vb-icon"></div>
            <label>Lập vi bằng</label>
            <div class="cell-detail">
                <button class="cell-trigger" id="vb">Xem chi tiết <i class="fa-solid fa-arrow-right"></i></button>
            </div>
        </li>
        <li class="cells">
            <div class="cell-icon td-icon"></div>
            <label>Tống đạt văn bản</label>
            <div>
                <button class="cell-trigger" id="td">Xem chi tiết <i class="fa-solid fa-arrow-right"></i></button>
            </div>
        </li>
        <li class="cells">
            <div class="cell-icon dk-icon"></div>
            <label>Xác minh điều kiện thi hành án</label>
            <div class="cell-detail">
                <button class="cell-trigger" id="dk">Xem chi tiết <i class="fa-solid fa-arrow-right"></i></button>
            </div>
        </li>
        <li class="cells">
            <div class="cell-icon th-icon"></div>
            <label>Thi hành án</label>
            <div class="cell-detail">
                <button class="cell-trigger" id="th">Xem chi tiết <i class="fa-solid fa-arrow-right"></i></button>
            </div>
        </li>
    </ul>
</div>

<div class="services-content">

</div>


<button (click)="BackToTop()" id="to-top"><i id="up-arrow" class="fa-solid fa-chevron-up fa-xl"></i></button>