<app-topnav></app-topnav>

<div id="container">
    <div class="hero">
        <h1>News</h1>
    </div>

    <div class="content">
        <div class="content__hot">
            <div id="hot-img">
                <img src="" style="height: 128px; width: 128px;">
            </div>
            <div id="hot-content">
                <div id="hot-content-title">
                    <h1>Title</h1>
                </div>
                <div id="hot-content-snippet">
                    <p>snippet</p>
                </div>
            </div>
        </div>

        <div class="content__featured">

        </div>

        <div class="content__other">

        </div>
    </div>
</div>