.container {
    position: fixed;
    top: 0;
    height: 70px;
    width: 100vw;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    overflow: hidden;

    font-family: 'Gabarito';
    color: black;
    background-color: var(--bg-main);
    color: var(--text-main);
    box-shadow: 1px 0px 19px -3px rgba(0,0,0,0.72);
    transition: all .5s;
}

/*buttons 2 sides of logo*/
.btn-div {
    display: none;
}
#btn-contact {
    display: none;
}

/*logo div*/
.logo-div {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;

    font-family: 'Montserrat', sans-serif;
    transition: all .5s;
    margin: 0;
    padding: 1rem;
}
#large-title {
    width: 0;
    display: none;
}
#logo {
    display: block;
    height: 60px;
    width: 60px;

    border-radius: 50%;
    opacity: 1;
    transform: scale(1);
    transition: transform .5s, opacity .4s, height .4s, width .4s;
}

/*Mobile menu*/
.mobile-menu {
    position: fixed;
    height: 0vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    overflow: hidden;

    opacity: 0;
    color: var(--text-main);
    background-color: var(--bg-main);
    transition: height .4s, opacity .5s;
    transition-delay: .2s;

    &__close {
        height: 70px;        
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        margin-top: .8rem;
        margin-right: 1.5rem;
    }

    &__buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 60vw;
        height: 70vh;
        margin: 10% 0%;
        padding: 0;

        opacity: 0;
        transition: all .5s;

        &__btn {
            margin: 10% 0;
            padding: 0;
    
            font-weight: 600;
            text-transform: capitalize;
            font-size: 1.4rem;
            background-color: transparent;
            color: var(--text-main);
            border: none;
        }
    }

    #mobile-menu__close--btn {
        opacity: 0;
        transform: rotate(0deg);
        transition: all .5s;
    }
}
.mobile-menu.open {
    height: 100%;
    opacity: 1;
    transition-delay: height .4s;
    transition: height .4s, opacity .1s;

    .mobile-title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin: 0;

        font-size: 1.5rem;
        font-weight: 700;
        text-decoration: underline;
        pointer-events: none;

        &__bottom {
            margin: 0;
            padding: 0;
        }
        &__top {
            margin: 0;
            padding: 0;
        }
    }

    .mobile-menu__buttons {
        opacity: 1;
        transition: all .3s;
        transition-delay: .1s;
    }

    #mobile-menu__close--btn {
        transform: rotate(90deg);
        opacity: 1;
        transition: all .5s;
        transition-delay: .1s;
    }
}

#test {
    display: none;
}

#menu-btn {
    opacity: 1;

    transition: all .3s;
    transition-delay: .13s;
}

#container.scrolled {
    height: 50px;

    background-color: rgba(49, 44, 56, .5);
    box-shadow: none;
    backdrop-filter: blur(6px);
    transition: all .5s;

    #logo {
        height: 40px;
        width: 40px;

        transition: all .4s;
    }

    #menu-btn {
        opacity: 0;

        transition: all .3s;
    }
}



/*Tablets*/
@media only screen and (min-width: 600px) {

    #menu-btn {
        margin-right: 1rem;
    }

    /*Mobile menu*/
    .mobile-menu {
        
        &__title {
            margin: 2% 0%;
            margin-right: 2.5%;
        }
        
        #mobile-menu__close--btn {
            margin-right: 1rem;
        }

        &__buttons {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 60%;
            height: 50%;
            margin: 20% 0%;
            padding: 0;

            opacity: 0;
            transition: all .5s;

            &__btn {
                margin: 5% 0;
            }
        }
    }
}



/*Desktop*/
@media only screen and (min-width: 1280px) {
    .container {
        height: 90px;
        justify-content: flex-start;
    }

    .hide {
        display: none;
    }

    #menu-btn {
        display: none;
    }

    .mobile-menu {
        display: none;
    }
    
    #container.scrolled {        
        .btn-div__btn {
            font-size: .9rem;

            transition: all .4s;
        }
    }
    #container.scrolled:hover {
        .logo-div {
            pointer-events: none;
        }
    }

    .logo-div {
        width: fit-content;
        align-items: center;
        justify-content: flex-end;
        text-align: left;
        padding: 0;
        margin-left: 21vw;
    }
    
    .logo-div:hover {
        cursor: pointer;
    }
    
    #large-title {
        width: 210px;
        display: block;
        margin-left: 10px;

        font-size: 1.3rem;
        font-weight: 500;
    }

    #btn-contact {
        height: 50%;
        width: fit-content;
        display: block;
        align-self: center;
        padding: 0px 20px;

        border: 1px solid var(--text-main);
        border-radius: 7px;
        font-size: 1.1rem;
        font-weight: 500;
        text-transform: capitalize;
        background-color: transparent;
        color: var(--text-main);
        transition: .3s;
    }
    #btn-contact:hover {
        cursor: pointer;

        background-color: var(--text-main);
        color: var(--bg-secondary);
        transition: .3s;
    }

    .btn-div {
        height: 100%;
        width: fit-content;
        display: flex;
        padding-left: 5%;
        margin-left: 3.5%;
        margin-right: 10vw;

        &__btn {
            height: 100%;
            width: fit-content;
            margin-right:  30px;

            font-size: 1.1rem;
            font-weight: 300;
            text-transform: capitalize;
            border: none;
            color: var(--text-main);
            background-color: transparent;
            transition: all .3s;
            
        }
    }
    .btn-div__btn:hover, .logo-div:hover {
        cursor: pointer;
        border-bottom: 1px solid var(--text-main);
    }
    #logo-div.active {       
        border-bottom: 2px solid var(--text-main);
    }
    #btn-news.active {       
        border-bottom: 2px solid var(--text-main);
    }
    #btn-about.active {       
        border-bottom: 2px solid var(--text-main);
    }
    #btn-contact.active{        
        border-bottom: 2px solid var(--text-main);
    }

    #hide {
        display: none;
    }

    
}

@media only screen and (min-width: 1600px) {
    #large-title {
        // top: 0.2%;
    }

    .btn-div {

        &__btn {
            // width: 24%;
        }
    }
}

@media only screen and (min-width: 1920px) {


    #large-title {
        top: 5%;
    }

    // .btn-div {
    //     width: 40%;
    //     margin-left: 0%;

    //     &__left {
    //         margin-right: 0%;
    //     }

    //     &__btn {
    //         width: 24%;
    //     }
    // }
}
