<div id="fade"></div>

<div class="container" id="container">
    <!-- only shows in mobile -->
    <div class="mobile-nav" id="mobile-nav">
        <i class="fa-solid fa-bars fa-xl" style="visibility: hidden; margin-left: 30px;"></i>
        <img (click)="WebRouting('home')" id="mlogo" src="../../../favicon.ico" alt="logo" style="height: 60px; width: 60px;">
        <i id="menu-btn" class="fa-solid fa-bars fa-xl" (click)="ToggleMobileMenu('open')"></i>
    </div>

    <!--pc-->
    <div id="logo-div" class="logo-div" onclick="WebRouting('home')">
        <img id="plogo" src="../../../favicon.ico" alt="logo">
        <p id="large-title">VĂN PHÒNG THỪA PHÁT LẠI QUẬN 6</p>
    </div>

    <div class="btn-div">
        <button id="home" class="btn-div__btn" (click)="WebRouting('home')">Trang chủ</button>
        <button id="services" class="btn-div__btn" (click)="WebRouting('services')">Dịch vụ</button> 
        <button id="news" class="btn-div__btn" (click)="WebRouting('news')">Tin tức</button>
        <button id="faq" class="btn-div__btn" (click)="WebRouting('faq')">Hỏi Đáp</button>
        <button id="contact" class="btn-div__btn" (click)="WebRouting('contact')">liên hệ</button>
    </div>

    <div class="mobile-menu" id="mobile-menu">
        <div class="mobile-menu__close">
            <i id="mobile-menu__close--btn" class="fa-solid fa-xmark fa-2xl" (click)="ToggleMobileMenu('close')"></i>
        </div>

        <div class="mobile-menu__buttons">
            <button class="mobile-menu__buttons__btn" (click)="WebRouting('home')">Trang chủ</button>
            <button class="mobile-menu__buttons__btn" (click)="WebRouting('services')">Dịch vụ</button>
            <button class="mobile-menu__buttons__btn" (click)="WebRouting('news')">Tin tức</button>
            <button class="mobile-menu__buttons__btn" (click)="WebRouting('faq')">Hỏi Đáp</button>
            <button class="mobile-menu__buttons__btn" (click)="WebRouting('contact')">Liên hệ</button>
        </div>
    </div>
</div>