<div class="container" id="container">
    <div id="logo-div" class="logo-div">
        <i id="hide" class="hide" class="fa-solid fa-bars fa-xl" style="visibility: hidden;"></i>
        <img id="logo" src="../../../favicon.ico" alt="logo" style="height: 60px; width: 60px;" (click)="WebRouting('home')">
        <p id="large-title" (click)="WebRouting('home')">VĂN PHÒNG THỪA PHÁT LẠI QUẬN 6</p>
        <i id="menu-btn" class="fa-solid fa-bars fa-xl" (click)="ToggleMobileMenu('open')"></i>
    </div>

    <div class="btn-div">
        <button id="btn-home" class="btn-div__btn" (click)="WebRouting('home')">Trang chủ</button>
        <button id="btn-about" class="btn-div__btn" (click)="WebRouting('about')">Dịch vụ</button> 
        <button id="btn-news" class="btn-div__btn" (click)="WebRouting('news')">Tin tức</button>
        <button id="btn-faq" class="btn-div__btn" (click)="WebRouting('faq')">Hỏi Đáp</button>
        <button id="btn-contact" (click)="WebRouting('contact')">liên hệ</button> 
    </div>

    <div class="mobile-menu" id="mobile-menu">
        <div class="mobile-menu__close">
            <i class="hide" class="fa-solid fa-bars fa-xl" style="visibility: hidden;"></i>
            <i id="mobile-menu__close--btn" class="fa-solid fa-xmark fa-2xl" (click)="ToggleMobileMenu('close')"></i>
        </div>

        <div class="mobile-menu__buttons">
            <button class="mobile-menu__buttons__btn" (click)="WebRouting('home')">Trang chủ</button>
            <button class="mobile-menu__buttons__btn" (click)="WebRouting('about')">Dịch vụ</button>
            <button class="mobile-menu__buttons__btn" (click)="WebRouting('news')">Tin tức</button>
            <button class="mobile-menu__buttons__btn" (click)="WebRouting('faq')">Hỏi Đáp</button>
            <button class="mobile-menu__buttons__btn" (click)="WebRouting('contact')">Liên hệ</button>
        </div>
    </div>
</div>